body {
	font-family: sans-serif;
}

a {
	font-weight: bold;
	color:#1F618D;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Page elements */

img.icon {
	width:16px; height: 16px; vertical-align:middle; padding-right:2px;
}

.pageTitle, .pageCategory {
	font-weight: bold;
}

.sectionDivider {
	width:1;
}

.loadingBox {
	text-align:center;
}

.reloadControl {
	float:right;
	font-weight: bold;
}

/* Lane display */

li {
	margin-top: 3px;
}

li.loading {
	list-style-type: none;
}

/* Image known size is 16px */
li.failure {
	background: url('images/error.png') no-repeat left top;
}
li.warning {
	background: url('images/warning.png') no-repeat left top;
}
li.ok {
	background: url('images/ok.png') no-repeat left top;
}
li.failure, li.warning, li.ok {
	list-style-type: none;
	margin-left:-20px;
	padding-left: 20px;
	background-size: 16px 16px;
}



li.failureExpand {
	list-style-type:none;
	margin:20px;
	font-weight:bold;
}

li.failureExpand a {
	color:#CC0000;
}

.invocation {
	font-family: monospace;
}

.buildResult .noLoad, .prTitle {
	font-size:80%;
	color:#AAAAAA;
}

.failedTestName {
	font-weight:bold;
	color:#CC0000;
}

.choice {
	font-weight:bold;
}

.datetime {
	font-size: 80%;
}

.buildResultString {}

.checkboxGrid {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-cotent: flex-start;
}

.checkboxGrid .checkboxContainer {
	margin-right:5px;
}

