body {
	font-family: sans-serif;
}

a {
	font-weight: bold;
	color:#1F618D;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Page elements */

img.icon {
	width:16px; height: 16px; vertical-align:middle; padding-right:2px;
}

.pageTitle {
	font-weight: bold;
}

.sectionDivider {
	width:1;
}

/* Lane display */

li {
	margin-top: 3px;
}

li.loading {
	list-style-type: none;
}

/* Image known size is 16px */
li.verboseBuildFailure {
	list-style-type: none;
	background: url('images/error.png') no-repeat left top;
	margin-left:-20px;
	padding-left: 20px;
	background-size: 16px 16px;
}

.invocation {
	font-family: monospace;
}

.buildResult .noLoad {
	font-size:80%;
	color:#AAAAAA;
}

.failedTestName {
	font-weight:bold;
	color:#CC0000;
}

.choice {
	font-weight:bold;
}

.datetime {}

.buildResultString {}
