body {
	font-family: sans-serif;
}

a {
	font-weight: bold;
	color:#1F618D;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Page elements */

img.icon {
	width:16px; height: 16px; vertical-align:middle; padding-right:2px;
}

.pageTitle {
	font-weight: bold;
}

.sectionDivider {
	width:1;
}

/* Lane display */

li.loading {
	list-style-type: none;
}

.invocation {
	font-family: monospace;
}

.buildResult .noLoad {
	font-size:80%;
	color:#AAAAAA;
}

.failedTestName {
	font-weight:bold;
	color:#CC0000;
}

.datetime {}

.buildResultString {}