body {
	font-family: sans-serif;
}

a {
	font-weight: bold;
	color:#1F618D;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Page elements */

img.icon {
	width:16px; height: 16px; vertical-align:middle; padding-right:2px;
}

.pageCategory {
	font-weight: bold;
}

.sectionDivider {
	width:1;
}

.loadingBox {
	text-align:center;
}

.reloadControl {
	float:right;
	font-weight: bold;
}

/* Lane display */

li {
	margin-top: 3px;
}

li.loading {
	list-style-type: none;
}

/* Image known size is 16px */
li.failure {
	background: url('images/error.png') no-repeat left top;
}
li.warning {
	background: url('images/warning.png') no-repeat left top;
}
li.ok {
	background: url('images/ok.png') no-repeat left top;
}
li.failure, li.warning, li.ok {
	list-style-type: none;
	margin-left:-20px;
	padding-left: 20px;
	background-size: 16px 16px;
}

li.failureExpand, li.prExpand {
	list-style-type:none;
}

li.failureExpand {
	margin:20px;
	font-weight:bold;
}

li.failureExpand a {
	color:#CC0000;
}

.prTestFailures li.failure, .verbosePr {
	margin-bottom:1.12em;
}

.invocation {
	font-family: monospace;
}

.buildResult .noLoad, .prTitle {
	font-size:80%;
	color:#AAAAAA;
}

.verbosePr .failedTestName {
	font-weight:bold;
	color:#000000;
}

.failedTestName, .failedTestVerdict {
	font-weight:bold;
	color:#CC0000;
}

.iffyTestVerdict {
	font-weight:bold;
	color:#FC94AF;
}

.highlightedLanesList { font-weight:bold; }

.fakeTestFailuresList { margin-top:1.12em; }

.inlineForm { display:inline-block; }

.choice {
	font-weight:bold;
}

.datetime {
	/* Using "rem" instead of "%" means .datetime can nest */
	font-size: 0.8rem;
}

.buildResultString {}

.checkboxGrid {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-cotent: flex-start;
}

.checkboxGrid .checkboxContainer {
	margin-right:5px;
}

.filterByLabel {
	width: 170px;
}

.filterByInput {
	width: 170px;
}

.filterByButton {
	width: 75px;
}

